.like-button {
    border: none;
    background-color: white;
    color: black;
    position: relative;
    margin-right: 15px;
}

.weather-emoji{
    position: absolute;
    right: 18px;
    bottom: 13px;
    font-size: 60px;
}