.loader-wrapper {
    position: relative;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -10;
    width: 100%;
}

.show-loader {
    position: absolute;
    top: 1px;
    visibility: visible;
    backdrop-filter: blur(5px);
    z-index: 9;
}